@media (min-width: 320px) and (max-width: 768px) {
    .container-footer, .container-info {
        flex-wrap: wrap;
    }
    .logo-redes {
        width: 100%;
    }
    .soporte, .listas-footer, .ciudades {
        margin-top: 40px;
    }
    .h2-footer {
        margin-bottom: 10px;
        padding: 10px;
    }
    .bienvenido {
        position: absolute;
        padding: 5px;
        padding-top: 220px;
        width: 60%;
        margin-left: 20px;
    }
    .bienvenido h1 {
        font-size: 2em;
    }
    .bienvenido2{
        position: static;
        padding: 5px;
        padding-top: 550px;
        width: 100%;
        margin-left: 20px;
        justify-content: flex-end;
    }
    .bienvenido2 .fas{
        width: 100%;
        justify-content: center;
        font-size: 35px;
        padding-top: 25px;
        text-align: center;
        display: flex;
    }
    .btn {
        margin-top: 20px;
    }
    .img-header-information:before {
        width: 70%;
    }
    .container.header {
        width: 70%;
    }
    .bienvenido-information {
        padding: 15px;
        width: 90%;
        padding-top: 150px;
        padding-right: 0;
        padding-left: 10px;
    }
    .container-header {
        width: 95%;
    }
    .bienvenido-information h1 {
        color: #fff;
        font-size: 45px;
        line-height: 1;
        margin-bottom: 70px;
    }
    .formulario-information {
        width: 100%;
        margin-right: 0;
        padding: 50px 15px;
    }
    .container-info {
        width: 100%;
    }
    .container-information {
        padding: 10px;
    }
    .mapa-information {
        width: 600px;
        margin-left: 0;
    }
    .contaniner-city {
        padding: 0;
        width: 90%;
    }
    .section-city {
        width: 90%;
    }



 
    
    
    .show-menu-btn,.hide-menu-btn{
        display: block;
      }
      .logo{
          width: auto;
          font-size: 18px;
          padding: 5px;
      }
      .menu{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #333;
        right: -100%;
        top: 0;
        text-align: center;
        padding: 80px 0;
        line-height: normal;
        transition: 0.7s;
      }
      .menu a{
        display: block;
        padding: 20px;
      }
      .hide-menu-btn{
        position: absolute;
        top: 40px;
        right: 40px;
      }
      #chk:checked ~ .menu{
        right: 0;
      }

      .section-info h4 {
        margin-bottom: .5rem;
        font-family: inherit;
        font-weight: 500;
        line-height: 1.1;
        font-size: 1.3rem;
        padding: 20px;
    }
    
    
}